pipeline/1_land_insights_test_data.json
{
    "name": "1_land_insights_test_data",
    "properties": {
        "activities": [
            {
                "name": "Set defaultFilename",
                "description": "Test data is to be landed.",
                "type": "SetVariable",
                "dependsOn": [],
                "userProperties": [],
                "typeProperties": {
                    "variableName": "defaultFilename",
                    "value": {
                        "value": "hed_test_data.csv",
                        "type": "Expression"
                    }
                }
            },
            {
                "name": "land_cohortGraduRateStDistSchoolSubgrp",
                "description": "Land Insights. cohortGraduRateStDistSchoolSubgrp Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/aanseacorelearn/education_insight/main/test_data/hed_test_data/roster/2021/cohortGraduRateStDistSchoolSubgrp/part1.csv')",
                            "type": "Expression"
                        },
                        "workspace": "dev",
                        "sinkPath": {
                            "value": "M365/v@{pipeline().parameters.version}/cohortGraduRateStDistSchoolSubgrp",
                            "type": "Expression"
                        },
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "additive"
                    }
                }
            },
            {
                "name": "land_graduationRatesbySubgroup",
                "description": "Land Insights. graduationRatesbySubgroup Test Data",
                "type": "ExecutePipeline",
                "dependsOn": [
                    {
                        "activity": "Set defaultFilename",
                        "dependencyConditions": [
                            "Succeeded"
                        ]
                    }
                ],
                "userProperties": [],
                "typeProperties": {
                    "pipeline": {
                        "referenceName": "land_data_from_URL",
                        "type": "PipelineReference"
                    },
                    "waitOnCompletion": true,
                    "parameters": {
                        "URL": {
                            "value": "@concat('https://raw.githubusercontent.com/aanseacorelearn/education_insight/main/test_data/hed_test_data/roster/2021/graduationRatesbySubgroup/part1.csv')",
                            "type": "Expression"
                        },
                        "workspace": "dev",
                        "sinkPath": {
                            "value": "M365/v@{pipeline().parameters.version}/graduationRatesbySubgroup",
                            "type": "Expression"
                        },
                        "sinkFilename": {
                            "value": "@variables('defaultFilename')",
                            "type": "Expression"
                        },
                        "batchType": "snapshot"
                    }
                }
            }
        ],
        "parameters": {            
            "version": {
                "type": "string",
                "defaultValue": "1.4.0"
            }
        },
        "variables": {
            "defaultFilename": {
                "type": "String",
                "defaultValue": "test_data.csv"
            }
        },
        "folder": {
            "name": "Insights Module/basic"
        },
        "annotations": [],
        "lastPublishTime": "2023-03-30T18:43:53Z"
    },
    "type": "Microsoft.Synapse/workspaces/pipelines"
}